/* Copyright © 2023-present TheeCalculator, All rights reserved. */

:root {
    --clear: transparent;
    --white: white;
    --black: black;
    --dark: #141414;
    --light_blue: #43caff1a;
    --sea_blue: #529cbd;
    --light_green: #9dffa22e;
    --light_red: #ffbabb61;
    --light_grey: #f1f1f1;
    --grey: #c1c1c1;
    --shadow: #00000033;
    --max_width: 600px;
    --large_radius: 32px;
    --small_radius: 17px;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    color: var(--black);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    margin: 0;
    transition: 0.5s ease-in-out;
}

p {
    margin: 0;
}

a {
    color: black;
}

h1,
h2 {
    margin: 0;
    font-weight: 700;
    margin-bottom: 14px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

button {
    border: none;
    border-radius: var(--large_radius);
    cursor: pointer;
    padding: 0;
    background-color: var(--light_blue);
    font-size: 32px;
    font-weight: 700;
    outline: none;
}

button:active {
    border-radius: var(--small_radius);
    filter: none !important;
}

.outline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 90vw;
    padding: 30px 0;
    height: calc(100vh - 60px);
    min-height: 560px;
    margin: 0;
}

.display_area {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    max-height: 100%;
    min-height: 200px;
    width: 100%;
    margin-bottom: 8px;
    border-radius: var(--large_radius);
    max-width: var(--max_width);
    background-color: var(--light_grey);
}

.logo {
    width: 48px;
    height: 48px;
    margin: 5px 0;
}

.icon_bu {
    width: 32px;
    height: 32px;
    padding: 16px;
    opacity: 0.3;
    width: 100%;
    cursor: pointer;
}

.icon_wrap {
    display: none;
    overflow: hidden;
    position: absolute;
    width: 64px;
    height: 64px;
    z-index: 3;
}

.copy_wrap {
    bottom: 0;
    right: 0;
}

.save_wrap {
    bottom: 160px;
    right: 0;
}

.info_wrap {
    display: flex;
    top: 0;
    left: 0;
}

.app_info {
    display: none;
    padding: 0 24px 40px 24px;
    font-size: 16px;
}

.info_txt {
    margin-bottom: 14px;
    font-weight: 300;
}

.history_clear {
    top: 0;
    right: 0;
}

.history_content {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
    max-height: 100%;
    margin-top: 56px;
    box-shadow: inset 0px -8px 8px -8px var(--shadow);
}

.history_content::-webkit-scrollbar {
    width: 10px;
    background-color: var(--clear);
}

.history_content::-webkit-scrollbar-thumb {
    background-color: var(--grey);
}

.history_content::-webkit-scrollbar-track {
    background-color: var(--clear);
}

.history_result {
    width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 50px;
    font-size: 24px;
    font-weight: 300;
    padding: 0 56px 0 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    border-radius: 0;
    background-color: var(--clear);
    cursor: pointer;
}

.calc_section {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    min-height: 160px;
    width: 100%;
    z-index: 0;
}

.calc_equation {
    font-size: 10vh;
    font-weight: 700;
    width: calc(100% - 20px);
    text-align: left;
    padding: 0 10px;
    height: 80px;
    display: flex;
    justify-content: flex-end;
}

.calc_result {
    font-size: 40px;
    width: 100%;
    max-width: calc(100% - 85px);
    margin: 0 65px 5px 20px;
    background-color: var(--clear);
    border: none;
    text-align: right;
    outline: none;
    overflow: hidden;
}

.grid_bu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8px;
    row-gap: 8px;
    width: 100%;
    max-width: var(--max_width);
}

.num_bu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 56px;
}

.num_bu_wrap {
    overflow: hidden;
    border-radius: var(--small_radius);
}

.num_bu_2 {
    grid-column: span 2;
}

.num_bu_4 {
    grid-column: span 4;
}

.img_icon {
    width: 48px;
    height: 48px;
}

@media only screen and (max-width: 500px) {
    .img_icon {
        width: 32px;
        height: 32px;
    }

    .num_bu {
        height: 40px;
    }
}

.margin_top_2 {
    margin-top: 2vw;
}

/* General */
.expand {
    width: 100%;
}

/* Colours */
.bg_l_red {
    background-color: var(--light_red);
}

.bg_blue {
    background-color: var(--sea_blue);
}

.bg_l_green {
    background-color: var(--light_green);
}

.bg_l_grey {
    background-color: var(--light_grey);
}

.bg_grey {
    background-color: var(--grey);
}

.bg_dark {
    background-color: var(--dark);
}

.t_white {
    color: var(--white);
}

.t_black {
    color: var(--black);
}

.shadow_top_bottom {
    box-shadow:
        inset 0px 8px 8px -8px var(--shadow),
        inset 0px -8px 8px -8px var(--shadow);
}

.shadow_inside {
    box-shadow: inset 0 0 4px var(--shadow);
}

.bold {
    font-weight: 700;
}

.dark {
    filter: invert(1);
}